* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  text-align: center;
  background-color: rgb(74, 57, 189);
  background-image: linear-gradient(to right,
  rgba(48, 16, 255, 1) 0%,
  rgb(206, 116, 74) 21%,
  rgb(219, 74, 74) 50%,
  rgb(207, 61, 200) 79%,
  rgba(48, 16, 255, 1) 100%
  );
}


.main-outer-todo-div{
  animation: fadeIn 0.5s 1;
}


.todo-app {
  position: relative;
  display: inline-table;
  flex-direction: column;
  justify-content: start;
  min-width: 400px;
  width: 28%;
  height: 550px;
  background: #161a2b;
  text-align: center;
  margin: 12px 20px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding-bottom: 32px;
}


.extra-padding {
  padding-bottom: 95px;
}


@media only screen and (max-width: 435px){
  .todo-app {
    min-width: 90vw;
  }
}


h1 {
  margin: 20px 0px 15px 0px;
  color: rgb(4, 238, 4);
  font-family: cursive ;
  font-size: 30px;
  font-weight: bold;
}


h2 {
  margin: 20px 0;
  color: #fff;
  font-size: 24px;
}


.todo-form {
  margin-bottom: 32px;
  margin-left: 4px;
  margin-right: 4px;
}


.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #5d0cff;
  outline: none;
  width: 70%;
  background: transparent;
  color: #fff;
}


.todo-input::placeholder {
  color: #e2e2e2;
}


.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  text-transform: capitalize;
}


.todo-input.edit {
  border: 2px solid #149fff;
}


.todo-button.edit {
  padding: 16px 22px;
}


.edit-form{
  margin-bottom: 15px;
}


.delete-all-button{
  position: absolute;
  bottom: 0%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  padding: 16px;
  border: none;
  border-radius: 5px;
  /* margin: 10px auto; */
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  text-transform: capitalize;
  animation: fadeIn 1s 1;
}


@media only screen and (max-width: 365px){
  .todo-input{
    border-radius: 4px;
    margin-top: 4px;
  }

  .todo-button{
    border-radius: 4px;
    margin-top: 4px;
  }
}


.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}


.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  word-break: break-all;
  padding: 16px;
  border-radius: 5px;
  width: 90%;
  cursor: grab;
}


.todo-row.orange{
  background: linear-gradient(
    90deg,
    rgba(255, 118, 20, 1) 0%,
    rgba(255, 84, 17, 1) 100%
  );
}


.todo-row.blue{
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
  
}


.todo-row.red{
  background: linear-gradient(
    90deg,
    rgb(255, 20, 79) 0%,
    rgb(238, 44, 92) 100%
  );
}


.todo-row.pink{
  background: linear-gradient(
    90deg,
    rgba(255, 12, 241, 1) 0%,
    rgba(250, 0, 135, 1) 100%
  );
}


.todo-row.purple{
  background: linear-gradient(
    90deg,
    rgb(87, 5, 253) 0%,
    rgb(129, 8, 204) 100%
  );
}


.todo-row.green{
  background: linear-gradient(
    90deg,
    rgb(93, 187, 49) 0%,
    rgb(84, 202, 29) 100%
  );
}


.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}


.edit-icon {
  /* margin-right: 5px; */
  color: #fff;
}


.delete-icon {
  color: #fff;
}


.color-select-div{
  display: inline-table;
  margin: 5px;
  width: 150px;
  max-width: 150px;
  cursor: pointer;
  text-align: center;
  align-items: center;
  animation: fadeIn 0.7s 1;
}


@media only screen and (max-width: 297px){
  .color-select-div{
    margin-bottom: 0px;
  }
}


@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
